.why{
    display: flex;
    flex-direction: row;
    padding: 65px 0px;
    .why-matter{
        width: 50%;
        h1{
            font-size: 76px;
           margin: 47px 85px;
        }
        h3{
            font-size: 20px;
            margin: -80px 100px;
        }
        p{
            margin: 98px 0px 0px 100px;
        }
        #myBtn{
            color: blue;
            text-decoration: underline;
            margin: 0px 0px 0px 100px;
        }
    }

    
}