.footer{
    display: flex;
    flex-direction: row;
    li{
        text-decoration: none;
        a{
            text-decoration: none;
            color: #000;
            font-size: 1rem;
        }
    }
    .logo-icons{
        display: flex;
        flex-direction: column;
        width: 10%;
        margin-left: 100px;
    } 
    .aboutus{
      
       width: 10%;
       ul{
           margin-left: -35px;
       }
    }
    .help{
        
        width: 10%;
        h2{ 
            margin-left: 35px;
        }
    }
     .help-2{
        margin-top: 50px;
        width: 10%;
    }
    .signup{
        margin-left: 75px;
        input{
            font-size: larger;
             border-width: 2px;
        }
        button{
            background-color: black; /* Green */
            border: none;
            color: white;
            margin-top: 10px;
            margin-left: 10px;
           
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
        }
    }
}