.testimonials{
    margin-left: 100px;
    padding: 65px 0px;
}
.moreproducts{
    margin-left: 100px;
    .product-list{
        display: flex;
        flex-direction: row;
    }
    .product{
        margin-right: 15px;
    }
}
hr {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }