.banner{
    display: flex;
    flex-direction: row;
    object-fit: contain;
    font-family: Rubik;
    font-stretch: normal;
    font-style: normal;
    h1{
        width: 833px;
        height: 211px;
        margin: 230px 57px 34px 42px;
        font-size: 130px;
        font-weight: 500;
        line-height: 0.95;
        letter-spacing: 3.25px;
        text-align: left;
        color: var(--black);
    }
    p{
        width: 539px;
        height: 51px;
        margin: 34px 0 46px 43px;
        font-size: 22px;
        font-weight: 300 ;
        line-height: 1.36;
        letter-spacing: 0.55px;
        text-align: left;
        color: #000;
    }
    button{
        width: 152px;
  height: 50px;
  margin: 46px 81px 125px 40px;
  padding: 18px 30px 19px 29px;
  object-fit: contain;
  background-color: #000;
    }
}

.slider {
    // background-image: url(https://picsum.photos/999/683);
    // background-position: right;
    // height: 683px;
    // background-position-x: 50%;
    //width: 999px;
    display: flex !important;
    flex-direction: row;
    .slider-title {
        font-size: 100px;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 1.25px;
        margin: 30px 12px 20px;
        color: black;
    }

    .slider-content {
        margin: 12px;
        width: 100%;
        font-size: 30px;
        line-height: 35px;
    }

    .slider-button {
        width: 111px;
        height: 37px;
        background-color: black;
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        margin: 12px;
    }
    .slider-matter{
        margin-top: auto;
    }
}

.slide-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 24px;

    li {
        float: left;

        button {
            font-size: 0;
            background-color: black;
            border: none;
            width: 60px;
            margin: 0 10px;
        }

        button :hover {
            background-color: sienna;
            border: none;
        }
    }
}


.video-wrapper {
    margin-top: 10px;
    margin-bottom: 15px;

    .cdd-video {
        background-color: gray;
        height: 266px;
    }
}



// @include media-breakpoint-up(lg) {
//     .slider-col {
//         width: 630px;
//         margin-top: 83px;
//         margin-left: 60px;

//         .slider-title {
//             font-size: 93px;
//             letter-spacing: 2.3px;
//         }
//     }

//     .icon-world {
//         background-image: url('../../../static/icons/world.png');
//         width: 100%;
//         // height: 229px;
//         background-repeat: no-repeat;
//         background-size: contain;
//         margin: 83px 10px 25px 0;
//     }


// }
